*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.Heading ul{
    display: flex;
    justify-content: center;
    align-items: center;
}

.Heading ul li{
    text-decoration: none;
    background-color: aqua;
    margin: 20px;
    width: 100%;
    height: 50px;
}

.images{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    height: 100vh;
}
.images img{
    height: 300px;
    width: 300px;
}